.box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    border: 1px solid rgb(0, 0, 0, 0.1);

    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}