.select {
    width: auto;
    border-radius: 4px;
    margin: 10px auto;
    padding: 11px 15px;
    background-color: rgb(245, 245, 245);
    outline: none;
    border: 1px solid rgb(0, 0, 0, 0.1);
    font-size: 15px;
    color: rgb(30, 30, 30);
    transition: 0.3s;
}

.select option {
    color: rgb(30, 30, 30);
}

.select::placeholder {
    color: rgb(70, 70, 70);
}

.select:hover {
    background-color: #f1eff1;
}

.select:focus {
    background-color: #fff;
    border: 1px solid rgb(87, 126, 219);
    box-shadow: 0 0 4px 2px rgb(50, 50, 50, 0.1);
}

.select:valid {
    border: 1px solid rgb(220, 220, 220);
}